<script>
<%function col(hex){
	var shorthandRegex = /^#?([a-f\d])([a-f\d])([a-f\d])$/i;
	    hex = hex.replace(shorthandRegex, function(m, r, g, b) {
	        return r + r + g + g + b + b;
	    });

		var result = /^#?([a-f\d]{2})([a-f\d]{2})([a-f\d]{2})$/i.exec(hex);
	    return result ? {
	        r: parseInt(result[1], 16),
	        g: parseInt(result[2], 16),
	        b: parseInt(result[3], 16)
	    } : null;
}%>
</script>
<div class="sidebar">
	<p><%="System members for"%><br/><%= (system.name || system.id) +":"%></p>
	<% members.forEach(m => { %>
		<form action="/system/<%=system.id%>" method="post">
			<input type="hidden" name="system" value="<%=JSON.stringify(system)%>">
			<input type="hidden" name="member" value="<%=JSON.stringify(m)%>">
			<input type="hidden" name="token" value="<%=token%>">
			<div class = "member" style="background-color: #<%=m.color || 'ddd' %>; color: #<%=(m.color ? (col(m.color).r * 0.299) + (col(m.color).g * 0.587) + (col(m.color).b * 0.114) < 186 ? "fff" : "000" : "000" )%>;" onclick = "parentNode.submit()"><div class = "name"><%= m.name %></div></div>
		</form>
	<% }) %>
</div>