<h2>Welcome<%=member%>!</h2>
<img class="avatar" src="<%=system.avatar_url || 'https://cdn.discordapp.com/embed/avatars/0.png'%>">

<div class="systeminfo" style="background-color: #fff; color: #000;">
<p><strong><%=system.name || '(no name)'%> (<%=system.id%>)</strong></p>
<%if(system.tag){%>
<br/>
<p><strong>Tag:</strong> <%=system.tag%></p>
<%}%>
<p><strong>Member count:</strong> <%=members%> <button onclick="window.open('/members','_self')">View members</button></p>
<p><strong>Current fronters:</strong><br/><%=(fronters && fronters[0] ? fronters.map(m => m.name).join("\n") : "None")%></p>
<br/>
<%if(system.description){%>
<p><strong>Description</strong>:</p>
<p class="scroll"><%=system.description%></p>
<%}%>
</div>